@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* resst CCS "start" */

* {
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;

    --gray-color: #e4e4e4;
    --gray-two: #ccc;
    --gray-three: four: #aaa;
    --black-one: #131313;
    --transparent-white: #fff0;
    --orange-color: #e43500;
    --orange-two: #f42;
    --orange-three: rgba(255, 68, 34, 0.08);
    --orange-four: #fffaf8;
    --Ubuntu-font: 'Ubunt' , sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}
/* reset CCS I'end*/

/* mobible screen style */

.header-page {
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
    z-index: 10;
    right: 0;
    background: white;
    height: 48px;
}

.logo-navbar {
    background-color: var(--black-one);
}

.logo-navbar:hover {
    background-image: url(assets/home-1.gif);
}


.logo-image {
    padding: 0.8rem;
}

.top-navbar {
    display: none;
} 

.bottom-navbar-list {
    display: flex;
    list-style: none;
    align-items: center;
    border-left: 1px solid var(--gray-two);
}

.icons-navbar-1 {
    color: var(--gray-two);
    font-size: 1rem;
    padding: 0.83rem;
}

.icons-navbar-1:hover {
    color: var(--gray-three);
}

.icons-navbar-2 {
    color: var(--orange-color);
    font-size: 2rem;
    padding: 0.355rem;
}


.margin-left-auto {
    margin-left: auto;
}

.without-style-button {
background-color: white;
border: none;
}

.left-items-bottom-navbar {
    display: none;
}

/*tablet screen style */


@media screen and (min-width:768px) {
    .top-navbar {
        display:flex;
        justify-content: space-between;
        grid-area: top-navbar;
        background-color: black;

    }

    .left-items-bottom-navbar{
        display: block;
    }

    .header-page {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "logo top-navbar"
            "logo bottom-navbar";
        height: 80px;
    }

    .logo-image {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }

    .logo-navbar {
        grid-area: logo;
    }

    .bottom-navbar {
        grid-area: bottom-navbar;
    }

    .items-top-navbar {
        list-style: none;
        display:flex;
        align-items: center;
    }

    .first-item-top-navbar {
        padding-left: 1.35rem;
    }

    .items-top-navbar {
        padding-left: 0.85rem;
    }

    .link-first-item-top-navbar {
        color: wheat;
        text-decoration: none;
    }
}
